<div class="container">
   <div class="col-xs-12 col-md-4 bootstrap snippets bootdeys">
      <!-- product -->
      <div class="product-content product-wrap clearfix">
         <div class="row">
               <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="product-image"> 
                     <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="img-view"> 
                  </div>
               </div>
               <div class="col-md-7 col-sm-12 col-xs-12">
               <div class="product-deatil">
                     <h5 class="name">
                        <a href="#">
                           Hardik <span>Category</span>
                        </a>
                     </h5>
                     <p class="price-container">
                        <span>$99</span>
                     </p>
                     <span class="tag1"></span> 
               </div>
               <div class="description">
                  <p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
               </div>
               <div class="product-info smart-form">
                     <div class="col-md-6 col-sm-6 col-xs-6 btnview"> 
                        <button class="btn btn-success">View</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end product -->
   </div>
   </div>